{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ABOUT SECTION -->
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-center mb-4">About Us</h2>
        <p class="text-muted text-center">Jersey Junction is a leading online store specializing in all things football, stocking a massive range of playing kit, training gear, fan apparel and sporting equipmen</p>
        <p class="text-muted text-center">We have all the major competitions covered, so if you’re into football, be it FIFA World Cup, UEFA European Championship, UEFA Champions League, Premier League or Emirates FA Cup, you’re in the right place.</p>
        <p class="text-muted text-center">A nationally-renowned football specialist and authority in its field, Jersey Junction is home to a wealth of official replica kit for English Premier League giants Arsenal, Chelsea, Everton, Liverpool, Manchester City, Manchester United, Tottenham Hotspur and others.</p>
        <p class="text-muted text-center">We are also happy to offer significant personalisation options for the pride of the Premier League, so whether you’re a fan of Sergio Agüero, Diego Costa, Phillippe Coutinho, Memphis Depay, Eden Hazard, Harry Kane, Pedro, Wayne Rooney, Alexis Sánchez, Bastian Schweinsteiger or Raheem Sterling, Jersey Junction can help you show your player passion like never before.</p>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
{% endblock content %}
